.principal-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#hero {
    height: 600px;
    background-image: url("https://wallpapers.com/images/hd/minimalist-technology-1680-x-1050-wallpaper-5kabc7xy9g0n48vx.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    position: relative;
}

#hero .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #hero .blur {
    background-color: rgba(red, green, blue, alpha);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
} */
